.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: black;
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  

  &:hover {
    background-color: #747474;
  }
}

.buttons {
  button {
    margin-left: 10px;
    &:hover {
      background-color: #747474;
    }
  }
  
  a {
    text-decoration: none;
  }

  
}
