.title {
  input {
    font-size: 38px;
    font-weight: 900;
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.image {
  width: 100%;
}

.tags {
  margin: 15px 0;
}

.editor {
  margin: 30px -30px;

  :global {
    .cm-s-easymde {
      border: 0;
      font-size: 22px;
    }
    .editor-toolbar {
      border: 0;
      background-color: rgba(201, 198, 198, 0.945);
    }
  }
}

.buttons {
  display: flex;

  button {
    margin-right: 15px;
  }
}
